/* @import url("temas-colores-fuentes.css"); */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}



#encabezado-principal {
  /*   background-color: red;
   color: white;
   border-radius: 5px;*/
  display: flex;
  background-color:  #5489c9;
  border-bottom: solid #ff5c00; 
  justify-content: space-between;
  align-items: center; 
   }

.contenedor_logo{
  display: flex;
  align-items: center;
 }

.contenedor_logo img{
  width: 40%;
  margin-right: 10px;
  
  
}

.contenedor_logo h2{
  font-size: 1.5rem;
  font-family:khula, sans-serif;
}

.buscador{
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 20px;
}

.input{
  padding: 8px;
  border-radius: 5px 0 5px;
  border-color:  #525150;
  border-top: solid #525150;
  outline: none;
}

.boton_buscador {
  padding: 17px 20px;
  border: none;
  background-color: #ff5c00;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.iconos_header{
  margin-top: 2%;
  background-color: aqua;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 20px;
}
.iconos_header a{
   color: rgb(14, 13, 13);
  font-size: 1.3rem;
}



nav a {
  font-weight: 600px;
  padding-right: 5px;
}
a {
  text-decoration: none;
}

nav a:hover{
  color: white;
  border-bottom:2px solid #e04024 ;
}
#encabezado-secundario {
  
}
#navegacion-categoria {
  /*
   background-color: lime;*/
  
  background-color: var(--light-color-acento-1);
  font-family: khula;
  text-align: center;
  
  
  margin-bottom: 0px;
  padding: 5px;
    border-radius: 5px;
}

#seccion-categoria {
  /*
   min-height: 720px;
   background-color: orange;*/
  min-height: 720px;
  padding-top: 20px;
  padding-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.articulo-categoria {

  border: solid 3px gray;
  width: 300px;
  height: auto;
  background-color: aliceblue;
  padding: 10px;
  box-sizing: border-box;
}

.item-valor-portada {
  width: 100%;
  height: 200%;
  border-radius: 5px;
  object-fit: cover;
}

.tab-categoria{
   margin: 12px;
   font-style: normal;
   font-size: 20px;
   font-weight: bolder;
   text-decoration: none;
   color:#0d0a07;
}

#footer-principal {
  /*
   background-color: blue;
   color: white;*/
  background-color: #5489c9;
  color: white;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#qr-code {
  width: 100px;
  height: 100px;
}
